body {
  margin: 0;
}
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #0e0d0d;
  color: #ffffff;
}

.header h1 {
  display: inline-block;
  display: flex;
  justify-content: center;
  font-size: 48px;
}
